@model HomeIndexViewModel
@{
    ViewBag.Title = "Welcome to Tutorial";
}

<div id="app">
    <el-table :data="tableData2"
                style="width: 100%"
                :row-class-name="tableRowClassName">
        <el-table-column prop="date"
                            label="日期"
                            width="180">
        </el-table-column>
        <el-table-column prop="name"
                            label="姓名"
                            width="180">
        </el-table-column>
        <el-table-column prop="address"
                            label="地址">
        </el-table-column>
    </el-table>
</div>

<partial name="_StudentTable" for="@Model.Student" />

<input type="hidden" id="JumpUrl" value="@Model.Student.FirstOrDefault().Name" />
<script src="~/js/student/index.js"></script>

@section bottom
{
    <div>
        <a role="button" class="btn btn-primary" asp-action="Create" asp-controller="Home">Create a Student</a>
    </div>
}
