<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/node_modules/vue/dist/vue.js"></script>
    <script src="~/node_modules/element-ui/lib/index.js"></script>
    <script src="~/node_modules/axios/dist/axios.js"></script>
    <script src="~/js/utils/axios.utils.js" asp-append-version="true"></script>
    <script type="text/javascript">
        @{
            string prePath = "http://localhost:5000";
        }
        axios.defaults.baseURL = '@prePath';
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="~/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" />
            Tutorial.Web
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid" style="padding-top:15px">
        @RenderBody()
    </div>

    <div class="container-fluid">
        @RenderSection("bottom", required: false)
    </div>

    <vc:welcome></vc:welcome>
</body>
</html>
